---
const { img, title, description } = Astro.props;
---

<article>
  <img src={img.src} alt={title} />
  <div class="content">
    <h3>{title}</h3>
    <p>{description}</p>
  </div>
  <div class="info">
    <a href="">Read More</a>
    <i class="fas fa-long-arrow-alt-right"></i>
  </div>
</article>

<style lang="scss">
  @import '~/assets/scss/_vars.scss';

  @each $theme in $themes {
    :global([data-theme='#{$theme}']) article .info {
      a {
        color: getThemeColor($theme);
      }
      i {
        color: getThemeColor($theme);
      }
    }
  }

  article {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition:
      transform $main-transition,
      box-shadow $main-transition;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    }

    img {
      width: 100%;
      max-width: 100%;
    }

    .content {
      padding: 20px;

      h3 {
        margin: 0;
      }

      p {
        margin: 10px 0 0;
        line-height: 1.5;
        color: #777;
      }
    }

    .info {
      padding: 20px;
      border-top: 1px solid #e6e6e7;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        color: getThemeColor('red');
        font-weight: bold;
      }
      i {
        color: getThemeColor('red');
      }
    }

    &:hover .info i {
      animation: moving-arrow 0.6s linear infinite;
    }
  }

  @keyframes moving-arrow {
    100% {
      transform: translateX(10px);
    }
  }
</style>
